.main {
    height: fit-content;
    display: none;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 0;
    overflow: hidden;
}

@media(max-width: 600px) {
    .main {
        flex-direction: column;
    }
}

.gallery {
    width: 300%;
    height: 600px;
    border-collapse: collapse;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .slider {max-width: 100%; margin: 1em;}
    .prev, .next {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        border: none;
    }
    .prev {left: 7%;}
    .next {right: 7%;}
    .collapse {
        position: absolute;
        left: 10;
        top: 3%;
        border: none;
        outline: none;
        background-color: rgba($color: #000000, $alpha: 0);
        cursor: pointer;
    }
}

svg {
    cursor: pointer;
    &:hover {transform: scale(1.3);}
}

.info {
    width: 200%;
    height: 600px;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .infoContainer {
        margin: 1em;
        padding: 1.5em;
        border-radius: 1em;
        background-color: rgba(200, 200, 200, 0.7);
        max-width: 90%;
        & > p {margin: 0.5em 0;}
        .targetWeather {display: none;margin: auto; height: 100px; width: 100px;}
    }
    .country {
        background-color: rgba(200, 200, 200, 0.7);
        padding: 1.5em;
        border-radius: 1em;
        margin: 1em;
    }
}

@media (max-width: 1200px) {
    .info {
        font-size: 1em;
    }
}

.history {
    width: 100%;
    height: 600px;
    border-collapse: collapse;
    transition: width 2s ease-out;
    overflow-x: hidden;  
    .historyContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .historySearch {
        width: 90%;
        text-align: center;
        font-size: 0.8em;
        margin: 0.5em;
        padding: 0.7em;
        background-color: rgba(200, 200, 200, 0.7);
        .historyImg {
            height: 75px;
            width: 75px;
            margin: 0.5em auto;
        }
    }

}

@media(max-width: 600px) {
    .collapse {
        display: none;
    }
    .history {
        overflow-x: auto;
        overflow-y: hidden;
        .historyContainer {
            flex-direction: row;
        }
    }
    
    .history, .info {
        width: 100%;
        height: fit-content;
    }
    .gallery {
        width: 100%;
    }
}